
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.top-right-nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-right-nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.top-right-nav ul li a {
  text-decoration: none;
  color: #040cf2;
  font-weight: bold;
}
